@charset "utf-8";

html{
    max-width: 400px;
}
.red{
    width: 400px;
    height: 100px;
    background-color: #ff0000;
}
main{
    display: flex;
}
.green{
    width: 150px;
    height: 250px;
    background-color: #00ff1e;
}
.blue{
    width: 250px;
    height: 250px;
    background-color: #3300ff;
}
.yello{
    height: 100px;
    background-color: #ffe600;
}